Repository Towelstation13/towelstation13, pull requests merged in 2023-09, with the labels that each got.

#3 Removes dog borgs and the Miss M model of borgs.
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/altborgs/code/robot_items.dm
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/robots.dmi
  modular_skyrat/modules/altborgs/icons/robots_clown.dmi
  modular_skyrat/modules/altborgs/icons/robots_eng.dmi
  modular_skyrat/modules/altborgs/icons/robots_jani.dmi
  modular_skyrat/modules/altborgs/icons/robots_med.dmi
  modular_skyrat/modules/altborgs/icons/robots_mine.dmi
  modular_skyrat/modules/altborgs/icons/robots_ninja.dmi
  modular_skyrat/modules/altborgs/icons/robots_pk.dmi
  modular_skyrat/modules/altborgs/icons/robots_sec.dmi
  modular_skyrat/modules/altborgs/icons/robots_serv.dmi
  modular_skyrat/modules/altborgs/icons/robots_syndi.dmi
  modular_skyrat/modules/altborgs/icons/screen_cyborg.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_med.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_pk.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_serv.dmi
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/cyborg/code/mechafabricator_designs.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
  modular_skyrat/modules/ghostcafe/code/robot_ghostcafe.dm
  modular_skyrat/modules/shapeshifting_module/code/borg_shapeshifter.dm
Labels: Removal

#4 Reverts "You can no longer use the radio while cuffed"
  code/modules/mob/living/living_say.dm
Labels: Revert

#6 Removes the Personal Space quirk
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: Removal

#7 Removes the veteran system
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/modules/client/preferences/middleware/jobs.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/client/preferences/species.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  config/skyrat/veteran_players.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_skyrat/master_files/code/datums/quirks/_quirk.dm
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
  modular_skyrat/modules/player_ranks/code/player_rank_controller/veteran_controller.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  modular_skyrat/modules/station_traits/code/station_traits.dm
  modular_skyrat/modules/veteran_only/code/job_types.dm
  modular_skyrat/modules/veteran_only/code/species_types.dm
  modular_skyrat/modules/veteran_only/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Removal

#9 Ports Allows you to smoke cigarettes while not wearing a space helmet
  code/game/objects/items/cigs_lighters.dm
Labels: Fix

#8 Ports Collected food fixes
  code/__DEFINES/clothing.dm
  code/datums/components/bakeable.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/food/edible.dm
  code/datums/components/food/golem_food.dm
  code/datums/components/grillable.dm
  code/datums/elements/dryable.dm
  code/datums/elements/food/microwavable.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/robot/items/food.dm
  code/game/objects/structures/morgue.dm
  code/modules/clothing/clothing.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/weird_food.dm
Labels: Fix

#13 Fixes species selection
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
Labels: Fix

#15 (MIRROR) resprites spray bottles, pestkiller, weedkiller, nolabel sprays. updates medigel sprites
  icons/obj/chemical.dmi
  icons/obj/service/hydroponics/equipment.dmi
  icons/obj/service/janitor.dmi
Labels: Sprites, Mirror

#14 Renames deployable barricades
  modular_skyrat/modules/barricades/code/barricade.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Good First PR, Grammar and Formatting

#17 (MIRROR) Stops the Vorpal Scythe harming you even when sated
  code/modules/jobs/job_types/chaplain/chaplain_vorpal_scythe.dm
Labels: Fix, Mirror

#19 (MIRROR) resprites radioactive nebula shielding
  code/game/machinery/nebula_shielding.dm
  icons/obj/machines/nebula_shielding.dmi
Labels: Sprites, Mirror

#23 Gives a proper description and lore to podpeople
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
Labels: Grammar and Formatting

#29 Adds the Bluespace Compression kit
  code/modules/uplink/uplink_items/device_tools.dm
  modular_towelstation/modules/compression_kit/compressionkit.dm
  modular_towelstation/modules/compression_kit/compressionkit.dmi
  modular_towelstation/modules/compression_kit/readme.md
  tgstation.dme
Labels: Feature, Sprites

#30 Removes more ERP stuff that I missed
  code/__DEFINES/mobs.dm
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__DEFINES/~skyrat_defines/hud.dm
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/__DEFINES/~skyrat_defines/lewd_defines.dm
  code/__DEFINES/~skyrat_defines/obj_flags.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/interaction_menu/code/interaction_datum.dm
  tgstation.dme
Labels: Removal

#32 Made it so non-donators can use the headshot feature
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
Labels: Quality of Life

#35 Fixes runtime in code/_onclick/hud/action_button.dm, line 283
  code/_onclick/hud/hud.dm
Labels: Fix

#31 I HATE TAURS REMOVE THEM I AM SO SICK OF SEEING THIS SHIT I WANT TO THROW UP UGH
  code/__DEFINES/mobs.dm
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/_globalvars/bitfields.dm
  code/game/objects/items.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/master_files/code/modules/client/preferences/tgui_prefs_migration.dm
  modular_skyrat/master_files/code/modules/clothing/base_clothes.dm
  modular_skyrat/master_files/code/modules/clothing/chameleon.dm
  modular_skyrat/master_files/code/modules/clothing/clothing.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/code/modules/clothing/under/_under.dm
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/civilian/suits.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/bodyparts/code/taur_bodyparts.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/under/sweaters.dm
  modular_skyrat/modules/customization/modules/clothing/under/tauruniformscolor.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_accessory_handler.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/customization/readme.md
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: Removal

#37 Rebalances the bluespace compression kit
  modular_towelstation/modules/compression_kit/compressionkit.dm
Labels: Balance

#38 Removes the server swap button from the title screen
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_skyrat/modules/title_screen/readme.md
Labels: Removal

#41 Finally fixes body size
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/towelstaton/body_size.tsx
Labels: Fix

#39 Resprites fallout mobs (and buffs them)
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/master_files/icons/mob/newmobs.dmi
  modular_skyrat/master_files/icons/mob/newmobs64x64.dmi
Labels: Sprites, Balance, Grammar and Formatting

#40 Adds s'mores
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  modular_towelstation/modules/modular_foods/code/smores.dm
  modular_towelstation/modules/modular_foods/icons/smores.dmi
  modular_towelstation/modules/modular_foods/readme.md
  tgstation.dme
Labels: Feature, Sprites

#43 Adds lore to the races imported from Paradise
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
Labels: Grammar and Formatting

#45 Fixes the s'more icons
  modular_towelstation/modules/modular_foods/icons/smores.dmi
Labels: Fix, Sprites
