Repository Towelstation13/towelstation13, pull requests merged in 2023-10, with the labels that each got.

#46 Adds the Colormate
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  modular_towelstation/master_files/code/__HELPERS/icons.dm
  modular_towelstation/master_files/code/__HELPERS/matrices.dm
  modular_towelstation/modules/colormate/code/colormate.dm
  modular_towelstation/modules/colormate/icons/colormate.dmi
  modular_towelstation/modules/colormate/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/Colormate.js
Labels: Feature, Sprites, Map Modification

#48 Ports frogs from my /tg/ PR
  code/modules/pai/pai.dm
  icons/mob/clothing/head/pai_head.dmi
  icons/mob/silicon/pai.dmi
Labels: Sprites

#54 Removes ERP rooms from the ghost cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Modification

#55 (MIRROR) Updates forge structure sprites
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
Labels: Sprites, Mirror

#56 (MIRROR) Balloon alert table flipping and table flips throw items + fixes
  modular_skyrat/modules/tableflip/code/flipped_table.dm
Labels: Fix, Quality of Life, Mirror

#57 (MIRROR) fixes the tendril blessing (respawning)
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_tendril.dm
Labels: Fix, Mirror

#60 Fixes minor pixel errors with the mutant lizard sprite, fixes combat lizard invisibility
  modular_skyrat/master_files/icons/mob/newmobs64x64.dmi
Labels: Fix, Sprites

#62 Removes a Miss M borg model from the code that I missed
  modular_skyrat/modules/altborgs/code/robot_model.dm
Labels: Fix, Removal

#61 (MIRROR) Ports a port of a port | Ports paper masks
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/customization/modules/clothing/masks/paper.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_skyrat/modules/modular_items/code/tailoring.dm
  tgstation.dme
Labels: Sprites, Mirror

#65 Literal salt PR | Gives salt to Ashwalkers
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
Labels: Quality of Life, Map Edit, Map Modification

#64 Adds the peppercorn plant
  modular_towelstation/master_files/icons/obj/hydroponics/growing.dmi
  modular_towelstation/master_files/icons/obj/hydroponics/harvest.dmi
  modular_towelstation/master_files/icons/obj/hydroponics/seeds.dmi
  modular_towelstation/modules/modular_plants/peppercorn/peppercorn.dm
  modular_towelstation/modules/modular_plants/readme.md
  tgstation.dme
Labels: Feature, Sprites

#67 Added two posters; Edited contraband poster pool
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
  modular_skyrat/modules/aesthetics/posters/posters.dm
Labels: Sprites

#59 The Fungus is no longer Among Us
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
Labels: Balance, Feedback, Test Merge Only

#66 Removes more ERP icons I missed
  modular_skyrat/master_files/icons/obj/genitals/anus.dmi
  modular_skyrat/master_files/icons/obj/genitals/breasts.dmi
  modular_skyrat/master_files/icons/obj/genitals/penis.dmi
  modular_skyrat/master_files/icons/obj/genitals/testicles.dmi
  modular_skyrat/master_files/icons/obj/genitals/vagina.dmi
Labels: Sprites, Removal

#73 (MIRROR) Fixes runtime spam with pollution
  modular_skyrat/modules/pollution/code/pollution.dm
Labels: Fix, Mirror

#79 (MIRROR) All loadout items can now be renamed and given new descriptions
  code/__DEFINES/~skyrat_defines/loadouts.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
Labels: Quality of Life, Mirror

#77 Void raptor fixes/changes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#81 Updates ringworm (god i hope this works)
  _maps/_basemap.dm
  _maps/map_files/ringworm/ringworm.dmm
  _maps/ringworm.json
  _maps/shuttles/skyrat/cargo_ringworm.dmm
  _maps/shuttles/skyrat/whiteship_ringworm.dmm
  config/maps.txt
  modular_skyrat/master_files/code/game/turfs/open/floor/asteroid_moon.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_skyrat/modules/automapper/code/station.dm
  modular_skyrat/modules/mapping/icons/areas/areas_station.dmi
  tgstation.dme
Labels: Sprites, Map Modification

#86 Fixes bras being invisible
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Fix

#89 Update generate_documentation.yml
  .github/workflows/generate_documentation.yml
Labels: GitHub

#90 Upstream Sync 2 Hotfixes
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/modules/bitrunning/antagonists/outfit.dm
  code/modules/bitrunning/objects/bit_vendor.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/mob_update_icons.dm
  code/modules/unit_tests/changeling.dm
Labels: Fix, Map Modification

#87 Another Salt PR - Moves the salt geyser to the new ashwalker camp
  _maps/skyrat/automapper/templates/mining/lavaland_ashwalker_nenest.dmm
Labels: Fix, Map Modification

#94 Fixes swapping hands
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix, FUCK
